# Dependencies
**/node_modules/
**/dist/

# Python virtual environment
**/venv/
**/ENV/
**/.venv/

# Python Cache
**/__pycache__/
*.py[cod]
*$py.class

# SQLite Database
**/db.sqlite3
*.sqlite3

# OS files
.DS_Store
Thumbs.db

# Environment variables
.env
.env.local
